.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.wrapper__title{
  color: #002E25;
}

.wrapper__title,
.wrapper__text,
.wrapper__form,
.movie-grid-title {
   text-align: center;
}


.wrapper__form {
  display: flex;
  align-items: stretch;
  justify-content: center;

}

.wrapper__form__input {
  flex-grow: 0.7;
} 

.search-button {    
  margin-left: 20px;
}

.wrapper__warning-message,
.wrapper__success-message,
.wrapper__error-message {
  padding: 20px 20px;
  margin: 20px auto;
  letter-spacing: 1px;
  color: #202223;
  text-align: center;
}

.wrapper__success-message {
  border-top: 3px solid #008060;
  border-bottom: 3px solid #008060;
  background:#F1F8F5;

}

.wrapper__warning-message {
  border-top: 3px solid #B98900;
  border-bottom: 3px solid #B98900;
  background: #FFF5EA;  
}

.wrapper__error-message {
  border-top: 3px solid #D72C0D;
  border-bottom: 3px solid #D72C0D;
  background: #FFF4F4;  
}



.movie-card-container {
  display: flex;
  border: 3px solid #008060;
  justify-content: center;
  max-width: 90%;
  margin: 20px auto;
  border-radius: 7px;
}

.movie-card-container__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  flex-basis: 40%;
}

.movie-card-container__info__image {
  height: 150px;
  align-self: center;
}

.movie-card-container__text__button {
    align-self: end;
}

.movie-card-container__text__button,
.search-button {
  background-color: #008060;
  color: #ffffff;
  padding: 7px 20px;
  border-radius: 5px;
  border: transparent 1px solid;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: bold;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
  transition: 150ms ease;
  transition-property: background-color, border-color, box-shadow, color;
}

.movie-card-container__text__button {
  margin-right: 20px;
}
.movie-card-container__text__button:hover,
.search-button:hover {
  background-color: #002E25
}

.movie-card-container__text__button:disabled,
.search-button:disabled {
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
  background-color: #828a91;
  color: #ffffff;
  cursor: not-allowed;
}


.movie-card-container__info { 
  display: flex;
  align-items: center;
}

.movie-card-container__info-count {
  align-self: center;
  padding: 0 20px;
  font-size: 3rem;
  color: #008060;
}

/* .movie-card-container__text__title {
  
} */